<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Price Tracker</title>
        <style>
    .header{
        background-color: coral;
        color: white;
        margin: -10px;   
    }
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: tomato;
        color: white;
        text-align: center;
        font-family: verdana; 
    }
    </style>
</head>

<body style = "background-color: lightgrey;">
    <div class="header">
        <br><br>
        <h1 style="text-align:center;">PRICE TRACKER</h1>
        <br><br>
    </div>
    <br>
    <h3 style="text-align:center; color:#2F4F4F;">
    This website allows you to track prices from Amazon and Flipkart and get email alerts when the price falls below your budget price
    </h3>
    <br><br><br><br>
    <h1 style="text-align:center; color:black;">
    Sit back! You will be notified via mail when the price drops down!
    </h1>
    <div class="footer">
        <p>&copy Nivedita Majee</p>
    </div>
</body>
